:root {
    --var-text-color: #070707;
    --var-grey-color: #828282;
    --var-background-color: #F6F6F6;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: min(99%, 970px);
    margin: 0 auto;
}

img {
    width: 100%;
}

.container-nav {
    padding: 28px 0;
    border-bottom: 1px solid var(--var-grey-color);
}

.container-nav ul {
    list-style: none;
    text-align: center;
    font-size: 0;
}

.container-nav li {
    display: inline-block;
    font-size: 18px;
    margin: 0 20px;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
}

.container-nav ul li a {
    color: var(--var-grey-color);
    text-decoration: none;
}

.container-nav ul li a:hover {
    color: var(--var-text-color);
}

.title {
    font-family: Open Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 12px 0 50px;
}

.grey-bg {
    width: min(99%, 1440px);
    background-color: var(--var-background-color);
    margin: 0 auto;
}

#about-me {
    text-align: center;
    padding: 100px 0 70px;
}

.subtitle {
    font-family: Open Sans;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--var-text-color);
    padding: 0 0 50px;
    text-align: center;
}

.text {
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

/* .text p:nth-child(1){
    width: 480px;
    flex-shrink: 0;
}

.text p:nth-child(2){
    width: 406px;
}

.text p:nth-child(3){
    width: 321px;
} */

.text p {
    padding-bottom: 30px;
}

.img-content {
    padding-bottom: 40px;
}

.url {
    padding-bottom: 70px;
    text-align: center;
   }
   
.url a{
    color: var(--var-text-color);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}