@import 'style';
@import 'fonts';
@import 'gamburger';
@import 'footer';
@import 'header';

$primary-color:rgb(100, 204, 197);

a:hover svg {
    path {
        fill: $primary-color;
    }
}
main{
    padding-bottom: 50px;
}
.btn button {
    transition: all .2s ease;
    color: rgba(12, 12, 12, 0.9);
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    background-color: rgb(251, 251, 251);
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    border-radius: 23px;
    margin-top: 8px;
 
    &:hover {
        background-color: $primary-color;
    }

    a {
        text-decoration: none;
    }
}

//перша секція
.about_us_content {
    margin-left: 0px;
    color: #F4F4F4;
    width: 90%;

    .text_green_color {
        font-size: 4rem;
    }
}

// друга секція  
.statistics {
    margin: 80px auto 100px;
    font-family: 'Roboto Serif';

    ul {
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(3, 1fr);

        li {
            text-align: center;
        }
    }

    .statistics-number {
        font-size: 3rem;
        font-weight: 700;
        line-height: 53px;
        margin-bottom: 20px;
    }

    .statistics-title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 29px;
        margin-bottom: 20px;
    }

    .statistics-content {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.5;
    }
}

//третя секція
.team {
    margin-bottom: 80px;

    h2 {
        margin-bottom: 50px;
    }
}

.team ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;

    img {
        width: 100%;
    }

    .team-title {
        font-family: 'Roboto Serif';
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 23px;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .team-text {
        font-family: 'DM Sans';
        font-size: 1rem;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 3%;
    }
}

.item-top:hover .item-soc {
    opacity: 0.8;
}

.item-top {
    position: relative;
    margin: 0 20px 20px;

    .item-soc {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary-color;
        transition: all .4s ease;
        opacity: 0;
        border-radius: 20px;
    }
}

.soc-list {
    display: flex;
    gap: 4px;

    a {
        display: inline-flex;
        width: 62px;
        height: 62px;
        border-radius: 50%;
        background-color: $primary-color;
        justify-content: center;
        align-items: center;

        svg {
            fill: #fff;
            transition: all .2s ease;
            width: 50px;
            height: 50px;
        }

        &:hover {
            background-color: #fff;

            svg {
                fill: $primary-color;
            }
        }
    }
}

//акордіон
.faq {
    margin: 50px auto 100px;

    h2 {
        margin-bottom: 50px;
    }

    .accordion__item {
        margin: 5px auto;

        .accordion__title {
            position: relative;
            display: block;
            padding: 13px 60px 15px 13px;
            margin-bottom: 2px;
            color: #202020;
            font-size: 1.4rem;
            font-family: 'Roboto Serif';
            font-weight: 600;
            text-decoration: none;
            background-color: #eaeaea;
            border-radius: 20px;
            transition: background-color 0.2s;
            cursor: pointer;
        }
    }

    .accordion__item .accordion__title:hover {
        background-color: $primary-color;
        transition: all 0.5s ease-out;
    }

    .accordion__item .accordion-active {
        background-color: #e5e4e4;
    }

    .accordion__item .accordion__title .accordion__arrow {
        position: absolute;
        top: 50%;
        right: 10px;
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        height: 30px;
        text-align: center;
        color: rgb(100, 204, 197);
        line-height: 30px;
        font-size: 20px;
        font-weight: 700;
        margin-right: 5px;
        background-color: #dddcdc;
        border-radius: 50%;
        border: 1px solid $primary-color;
        transition: all 0.2s ease-out;
        transform: translateY(-50%);
    }

    .accordion__item .accordion__rotate {
        transform: rotate(225deg);
    }

    .accordion__item .accordion__content {
        padding: 30px;
        margin-bottom: 2px;
        font-size: 1rem;
        font-family: 'Roboto Serif';
        font-weight: 600;
        line-height: 30px;
        display: none;
        background-color: #f3f3f3;
        border-radius: 20px;
    }

    .accordion__item .accordion__arrow-item {
        font-weight: 700;
    }
}

//курс
.cours {
    text-align: center;
    h4{
        font-family: 'Roboto Serif';
        font-weight: 400;
        font-size: 1.4rem;
        margin-bottom: 10px;
    }

    ul {
        width: 40%;
        margin: 0 auto;
        padding: 10px;
        line-height: 40px;
        border-radius: 20px;
        border: 3px solid $primary-color;
        background-color:#f3f3f3;
        margin-bottom: 60px;
    }

    .cours-item {
        font-family: 'Roboto Serif';
        font-weight: 400;
        font-size: 1.4rem;

    }
}

@media screen and (max-width: 1050px) {
    .about_us_bg {
        .about_us {
            .about_us_content {
                h2 {
                    font-size: 2rem;

                    .text_green_color {
                        font-size: 2rem;
                    }
                }
            }

            .box-slider {
                width: 320px;
                height: 320px;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .statistics {
        margin: 80px auto;

        .statistics-number {
            font-size: 2rem;
            line-height: 20px;
        }

        .statistics-title {
            font-size: 1.2rem;
        }

        .statistics-content {
            font-size: 1rem;
            line-height: 18px;
        }
    }

    .team ul {
        .team-title {
            font-size: 1rem;
            margin-top: 10px;
            line-height: 15px;
        }
    }

    .faq {
        margin: 0 auto 50px;

        .accordion__item {
            .accordion__title {
                font-size: 1rem;
            }
        }
    }
    .cours{
        .cours-item {
                        font-size: 1rem;
            }
    }
}

@media screen and (max-width: 700px) {
    .statistics {
        margin: 50px auto;

        ul {
            display: block;
        }

        .statistics-content {
            margin-bottom: 50px;
        }
    }

    .team ul {
        display: block;

        .team-text {
            margin-bottom: 20px;
        }
    }

    .faq {
        margin-top: -40px;
    }
    .cours{
        ul{
            width: 60%;
        }
    }
}
@media screen and (max-width: 450px){
    .cours{
        ul{
            width: 75%;
        }
    }
}