$primary-color:rgb(100, 204, 197);

ul,
ol {
    list-style: none;
}

a:hover svg {
    path {
        fill: $primary-color;
    }
}

.container {
    width: min(90%, 1400px);
    margin: 0 auto;
}
 
.logo {
    margin-top: -20px;

    .icon-img {
        margin-bottom: 10px;
    }

    .black-icon,
    .white-icon {
        width: 140px;
    }

    a:hover {
        .icon-wrap {
            .white-icon {
                display: none;
            }

            .black-icon {
                display: block;
            }
        }
    }

  
}


footer {
    width: 100%;
    background-color: rgb(0, 0, 0);

    .container {
        display: flex;
        justify-content: space-between;
        padding: 30px 0px 50px;
      

        .logo {
            padding-top: 30px ;
        
            p {
                margin-top: 60px;
                color: #F4F4F4;
                font-family: 'DM Sans';
                font-size: 18px;
                font-weight: 400;
                line-height: 23px;
                letter-spacing: 3%;
                text-align: left;
                width: 350px;
            }
        }

        .social {
            li {
                display: inline-block;
                margin-top: 30px;
                padding-right: 10px;
            }
        }

        .footer-nav ul {
            padding-top: 30px;

            a {
                display: inline-block;
                position: relative;
                color: rgb(251, 251, 251);
                font-family: 'DM Sans';
                font-size: 20px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0%;
                text-align: left;
                text-decoration: none;
                margin-bottom: 10px;

                &::after {
                    content: "";
                    display: inline-block;
                    width: 0;
                    position: absolute;
                    left: 50%;
                    bottom: -5px;
                    height: 3px;
                    opacity: 0.3;
                    background: $primary-color;
                    transition: all .2s ease;
                    transform: translateX(-50%);
                }

                &:hover::after {
                    width: calc(100% + 4px)
                }

            }

            a:hover svg {
                path {
                    fill: $primary-color;
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    footer {
        .container {
            padding: 10px 0px 50px;

            .logo {
                p {
                    font-size: 0.8rem;
                    width: 270px;
                }
            }
        }
    }
   
}

@media screen and (max-width: 750px) {
    footer {
        margin-top: -40px;
    }
}

@media screen and (max-width: 650px) {
    footer {
        .container {
            .logo {
                p {
                    line-height: 1rem;
                    width: 200px;
                }
            }

            .footer-nav li a {
                font-size: 1rem;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    footer {
        .container {
            display: block;
            padding: 10px 0px 20px;

            .logo {
                width: 40px;
                padding-top: 40px;
img{
    width: 100px;
    margin-top: 0;
}

                p {
                    margin-top: 20px;
                    width: 300px;
                }

                .black-icon,
                .white-icon {
                    width: 80px;
                }
            }

            .social {
                ul {
                    padding-left: 0;
                    margin: 0;
                }

                li {
                    margin-top: 0;
                }
            }

            .footer-nav ul {
                padding: 15px 0;


                li {
                    display: inline-block;
                    margin-right: 15px;
                }
            }
        }
    }
}